<template>
  <div>
    <v-card>
      <v-card-title>Vælg en event du er ved</v-card-title>
      <v-card-text>
        <v-select @change="setChoosen" item-text="title" item-value="id" return-object :items="eventStaffEvents">

        </v-select>
      </v-card-text>
    </v-card>
    <v-card>
      <v-card-title>Scanner</v-card-title>
      <v-card-text>
        <video height="400" width="300" ref="scanner" class="scanner"></video>
      </v-card-text>
      <v-card-actions>
        <v-btn class="scannerBtn" @click="startScanning()" :disabled="scanning">
          start scanning
        </v-btn>
        <v-btn class="scannerBtn" @click="stopScanning()" :disabled="!scanning">
          stop scanning
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-card style="margin-top: 1rem">
      <v-card-title>Manual Tjekking</v-card-title>
      <v-card-text>
        <v-form v-model="formValid">
          <v-text-field v-model="ticketNR" :rules="ticketNRRules" rounded solo>
          </v-text-field>
        </v-form>

      </v-card-text>
      <v-card-actions>
        <v-btn @click="manualLookUp" :disabled="!formValid">
          Tjek
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import QrScanner from 'qr-scanner';
import {mapGetters} from "vuex";

export default {
  name: "index",
  layout: "eventStaffLayout",
  data() {
    return {
      qrCode: {},
      scanning: false,
      stream: {},
      ticketNR: '',
      formValid: false,
      eventStaffEvents: [],
      chosenEvent: {},
      ticketNRRules: [
        v => !!v || "Kan ikke være tomt",
        v => /[0-9][a-z]*$/gi.test(v) || 'Kun numre og bogstaver'
      ]
    }
  },
  methods: {
    async decodedQRCode(result) {
      await this.$router.push(`/staff/ticket/${result}?eventid=${this.chosenEvent.id}`)
    },
    createScanner() {
      console.log(this.$refs.scanner)
      this.qrScanner = new QrScanner(this.$refs.scanner, result => this.decodedQRCode(result));
    },
    startScanning() {

      this.qrScanner.start().then(
        () => {
          this.hasCamera = true;
          this.scanning = true
        },
        (error) => {
          console.log(error);
          this.hasCamera = false;
        }
      );
    },
    stopScanning() {
      this.qrScanner.stop()
      this.scanning = false
    },
    async manualLookUp() {
      await this.$router.push(`/staff/ticket/${this.ticketNr}?eventid=${this.chosenEvent.id}`)

    },
    setChoosen(selected) {
      this.chosenEvent = selected;
    }

  },
  mounted() {
    this.eventStaffEvents = this.loggedInUser.companyEvents
    if (typeof window !== "undefined") {
      this.createScanner()
    }
  },
  computed: {

    ...mapGetters(['loggedInUser', 'isAuthenticated'])
  }
}
</script>

<style scoped>
.scanner {
  border: #131313 solid 2px;
  background: #292929;
}
.scannerBtn{
  background: rgb(88,105,151);
  background: linear-gradient(90deg, rgba(88,105,151,1) 5%, rgba(98,119,156,1) 33%, rgba(100,127,156,1) 68%, rgba(71,113,147,1) 100%);
}
</style>
