<template>
  <div style="margin: 1rem">
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-card v-if="requestFinished && Object.keys(event).length === 0">
          <v-card-title>
            Ikke gyldig event
          </v-card-title>
          <v-card-text>
          </v-card-text>
        </v-card>
        <v-card v-if="!requestFinished">
          <v-card-title>
            Ingen data
          </v-card-title>
          <v-card-text>
            Data blev ikke hentet så der er ikke noget at se her
          </v-card-text>
        </v-card>
        <div v-if="Object.keys(event).length !== 0  && !validPayment">
          <v-card color="#dfdfdf">
            <v-card-title>
              {{ event.title }}
            </v-card-title>
            <v-img>
              <v-carousel :show-arrows="false">
                <v-carousel-item v-for="(img,i) in event.images" :key="i" :src="img.path">

                </v-carousel-item>
              </v-carousel>
            </v-img>
            <v-card-text>
              <v-row justify="center" align="center">
                <v-col>
                  <v-list>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Beskrivelse</v-list-item-title>
                        <v-list-item-subtitle>{{ event.desc }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Dato</v-list-item-title>
                        <v-list-item-subtitle>{{ formatDate(event.date) }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Sted</v-list-item-title>
                        <v-list-item-subtitle>{{ event.address.address }} {{ event.address.city }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>
                <v-col>
                  <no-ssr>
                    <!--                  <v-map v-if="typeof window !== 'undefined'"></v-map>-->
                  </no-ssr>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <v-card v-if="event.ticket_types.length !== 0 && !validPayment" style="margin-top: 1rem">
            <v-card-title>
              Vælg billet type og betal
            </v-card-title>
            <v-card-text>
              <v-form v-model="formValid">

                <v-select return-object @change="chooseTicketType" item-text="name" item-value="id"
                          :items="event.ticket_types"></v-select>
                <v-card
                  flat
                  class="ticket"
                  v-if="Object.keys(this.getChosenTicket).length !== 0">
                  <v-card-text>
                    <v-list style="background: transparent">
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>Pris</v-list-item-title>
                          <v-list-item-subtitle>{{ chosenTicket.price }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>Navn</v-list-item-title>
                          <v-list-item-subtitle>{{ chosenTicket.name }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>Beskrivelse</v-list-item-title>
                          <v-list-item-subtitle>{{ chosenTicket.desc }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-card-text>

                </v-card>
                <v-text-field v-model="email" type="email" label="E-mail" :rules="emailRules">
                </v-text-field>
              </v-form>
              <v-spacer>
              </v-spacer>
              <client-only>
                <v-paypal-checkout v-if="Object.keys(chosenTicket).length !== 0 && formValid"
                                   :chosenTicket="chosenTicket"
                                   :user-email="email">

                </v-paypal-checkout>
              </client-only>
            </v-card-text>
          </v-card>
        </div>
        <v-card v-if="validPayment">
          <v-card-title>
            Betaling gennemført
          </v-card-title>
          <v-card-text>
            Du skulle gerne få en mail med din billet. Det er en pdf med QR kode og kvittering, det skal du vise i
            indgangen til arrangementet
          </v-card-text>
        </v-card>
      </v-col>
      <v-col>

      </v-col>
    </v-row>
  </div>
</template>
<script>
//import vmap from '../components/vmap'
import {EventBus} from 'assets/event-bus';

export default {
  name: "eventpage",
  components: {
    //'v-map':vmap,
  },
  data() {
    return {
      event: {},
      chosenTicket: {},
      ActivePaypalBtn: false,
      orderID: '',
      requestFinished: false,
      validPayment: false,
      formValid: false,
      emailRules: [
        v => !!v || 'Email kan ikke være tom',
        v => /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(v)
          || 'Email skal være gyldig'

      ],
      email: '',
    }
  },
  methods: {
    chooseTicketType(selected) {
      this.chosenTicket = selected
    },
    async getEventData() {
      try {
        const res = await this.$axios.$get(`/event/${this.$route.params.eventid}`)
        this.event = res.event
        this.requestFinished = true;

      } catch (e) {
        console.log(e.message)
      }
    },
    formatDate(date) {
      return new Date(date * 1000).toLocaleDateString()
    }
  },
  mounted() {
    this.getEventData()
    EventBus.$on('PaymentConfirmed', (e) => {
      this.validPayment = true;
    })

  },
  computed: {
    getChosenTicket() {
      return this.chosenTicket
    }
  }
}
</script>

<style scoped>

</style>
