<template>
  <div>
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-card style="width: fit-content; height: fit-content" v-if="Object.keys(ticket).length !== 0">
          <v-card-title>
            {{ ticket.type }}
          </v-card-title>
          <v-card-text>

          </v-card-text>
          <v-card-actions>
            <div class="status valid">VALID</div>
          </v-card-actions>
        </v-card>
        <v-card v-else>
          <v-card-actions>
            <div class="status not-valid">NOT VALID </div>
          </v-card-actions>
        </v-card>
        <v-card style="margin: 1rem">
          <v-card-text>
            <v-btn to="/staff/">Back to scanner</v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col></v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "ticketScannedPage",
  layout: "eventStaffLayout",
  data() {
    return {
      ticket: {}
    }
  },
  methods: {
    async verifyTicket(eventID, ticketID) {
      try {
        const res = await this.$axios.$post("/ticket/verify", {
          event_id: eventID,
          ticket_id: ticketID
        })
        this.ticket = res.ticket

      } catch (e) {
        console.log(e)
        this.ticket = {}

      }

    }
  },
  mounted() {
    this.verifyTicket(this.$route.query.eventid, this.$route.params.ticketid)

  }

}
</script>

<style scoped>
.status {
  width: 10rem;
  height: 2rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;



}

.status.valid {
  background: #00d10b;
}

.status.not-valid {
  background: #d10000;

}


</style>
