<template>
  <div>
    <v-row>
      <v-col></v-col>
      <v-col>
        <v-card>
          <v-card-title>Opret arrangement</v-card-title>
            <v-card-text>
              <v-form>

              <v-row>
                <v-col cols="6">
                  <v-text-field label="Navn"></v-text-field>
                  <v-textarea label="Beskrivelse"></v-textarea>
                  <v-text-field label="Addresse"></v-text-field>
                  <v-text-field label="By"></v-text-field>
                  <v-text-field label="Kapicitet"></v-text-field>
                  <v-btn color="primary">Gem</v-btn>
                </v-col>
                <v-col cols="6">
                  <v-row>
                    <v-col v-for="(event,i) in this.newEvents"  md="4" sm="2" :key="i" style="display: inline-block">
                      <book-me-event :event-card-data="event"></book-me-event>
                    </v-col>

                  <v-col class="d-flex child-flex">
                    <v-img max-height="150" max-width="200" src="https://fynskerhverv.dk/wp-content/uploads/2017/11/Odincon-980x500.jpg"></v-img>
                    <v-img max-height="150" max-width="200" src="https://fynskerhverv.dk/wp-content/uploads/2017/11/Odincon-980x500.jpg"></v-img>
                    <v-img max-height="150" max-width="200" src="https://fynskerhverv.dk/wp-content/uploads/2017/11/Odincon-980x500.jpg"></v-img>
                    <v-img max-height="150" max-width="200" src="https://fynskerhverv.dk/wp-content/uploads/2017/11/Odincon-980x500.jpg"></v-img>
                  </v-col>
                  <v-file-input label="File input" multiple prepend-icon="mdi-camera" accept="image/png, image/jpeg"></v-file-input>
                  </v-row>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col></v-col>
    </v-row>
  </div>
</template>

<script>
import EventCard from "../../../components/EventCard";

export default {
  components: {
    'BookMeEvent': EventCard
  },
  data() {
    return {
    }
  },
  methods: {},
  mounted() {
  }
}
</script>

<style scoped>

</style>
