<template>
  <v-card style="background: rgba(241,142,148,1)">
    <v-img :src="'api/'+this.eventCardData.image_path"></v-img>
    <v-card-title>
      {{this.eventCardData.title}}
      <v-spacer>
      </v-spacer>
      <v-btn color="#4D6DB8" @click="$router.push('/event/'+eventCardData.id)" style="color:white;">Køb billet nu
      </v-btn>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: "EventCard",
  props:[
    'eventCardData'
  ]
}
</script>

<style scoped>

</style>
