<template>
  <paypal-buttons env="sandbox" :onApprove="paypalOnApprove" :createOrder="paypalCreateOrder" />
</template>

<script>
import vue from "vue";
import {EventBus} from "../assets/event-bus";


export default {
  name: "vPaypalCheckout",
  props: [
    'chosenTicket',
    'userEmail'
  ],
  sync:['validPayment'],
  components: {
    'paypal-buttons': window.paypal.Buttons.driver('vue', vue)
  },
  data () {
    return {
      orderID:'',
    };
  },
  methods: {
   async paypalCreateOrder (){
      await this.paymentCreate()
      return this.orderID
    },
    async paypalOnApprove (data) {
      return await this.verifyPayment(data).then(function(details) {
         EventBus.$emit('PaymentConfirmed', details)

      })

    },
    async paymentCreate() {
      try {
        const res = await this.$axios.$post('/payments/create', {
          type: 'PAYPAL',
          event_id: this.chosenTicket.event_id,
          ticket_type_id: this.chosenTicket.id,
          email: this.userEmail,
        })
        this.orderID = res.order.result.id; // Use the key sent by your server's response, ex. 'id' or 'token'
      } catch (e) {

      }
    },
    async verifyPayment( data) {
      const res = await this.$axios.$post('/payments/verify', {
        type: 'PAYPAL',
        order_id: this.orderID
      })
    },
  }
}
</script>

<style scoped>

</style>
