.homePageFeaturedEvents{
  margin: 0 !important;
  padding: 0 !important;

}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #131313;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px rgba(26, 26, 26, 0.62);
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #000000 14%, #000000 64%);
}
::-webkit-scrollbar-track{
  background: #2d2d2d;
}
.ticket{
 background-image: url('data:image/svg+xml, %3Csvg xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' width=\'810\' height=\'309.399\' viewBox=\'0 0 810 309.399\'%3E%3Cdefs%3E%3ClinearGradient id=\'linear-gradient\' x1=\'0.5\' y1=\'-0.118\' x2=\'0.5\' y2=\'1.269\' gradientUnits=\'objectBoundingBox\'%3E%3Cstop offset=\'0\' stop-color=\'%23749fbf\'/%3E%3Cstop offset=\'0.202\' stop-color=\'%23439bde\'/%3E%3Cstop offset=\'0.569\' stop-color=\'%232d87d6\'/%3E%3Cstop offset=\'0.889\' stop-color=\'%234a9bd8\'/%3E%3Cstop offset=\'1\' stop-color=\'%233eadfe\'/%3E%3C/linearGradient%3E%3Cfilter id=\'Path_5\' x=\'0\' y=\'0\' width=\'810\' height=\'309.399\' filterUnits=\'userSpaceOnUse\'%3E%3CfeOffset dy=\'3\' input=\'SourceAlpha\'/%3E%3CfeGaussianBlur stdDeviation=\'3\' result=\'blur\'/%3E%3CfeFlood flood-opacity=\'0.161\'/%3E%3CfeComposite operator=\'in\' in2=\'blur\'/%3E%3CfeComposite in=\'SourceGraphic\'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform=\'matrix(1, 0, 0, 1, 0, 0)\' filter=\'url(%23Path_5)\'%3E%3Cpath id=\'Path_5-2\' data-name=\'Path 5\' d=\'M0,0H792V291.4l-25.253-27.509L740.811,291.4l-26.723-27.509L688.151,291.4l-31.438-27.509L627.632,291.4l-33.8-27.509L566.327,291.4l-28.295-27.509-33.8,27.509-28.295-27.509L443.717,291.4l-29.866-27.509L385.556,291.4l-29.866-27.509L328.181,291.4l-29.866-27.509L270.02,291.4l-29.081-27.509L213.431,291.4l-29.867-27.509L152.911,291.4l-26.723-27.509L99.466,291.4l-25.15-27.509L48.378,291.4,24.014,263.891,0,291.4V0Z\' transform=\'translate(9 6)\' fill=\'url(%23linear-gradient)\'/%3E%3C/g%3E%3C/svg%3E');
 background-size: cover;
  height: 30rem;
  width: 60rem;
}
