<template>
  <v-app :dark="getTheme">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      temporary
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in authFilterItems(this.drawerItems)"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      fixed
      style="background: linear-gradient(90deg, rgba(77,109,184,1) 0%, rgba(241,142,148,1) 100%);"
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

      <v-toolbar-title >BookMe</v-toolbar-title>
      <v-spacer/>
      <v-text-field
        v-if="$vuetify.breakpoint.mdAndUp"
        style="margin-top: 1.5rem; max-width: 30vw"
        label="Search for events"
        dense
        rounded
        solo>

      </v-text-field>
      <v-menu offset-y>
        <template v-slot:activator="{ on, on2 }">
          <v-avatar v-on="on"
                    v-show="$vuetify.breakpoint.mdAndUp"
          >
            <v-icon>mdi-account</v-icon>
          </v-avatar>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in authFilterItems(this.menuItems)"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"/>
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="isAuthenticated" @click="logout()">
            <v-list-item-action>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Log ud</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
  </v-app>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  middleware:'auth',
  data() {
    return {
      dark:false,
      drawer: false,
      drawerItems: [
        {
          icon: 'mdi-home',
          title: 'Hjem',
          to: '/',
          auth: false,
          guestOnly:false

        },
        {
          icon: 'mdi-ticket',
          title: 'Mine Billetter',
          to: '/me/myticket',
          auth: true,
          guestOnly:false

        }
      ],
      menuItems: [
        {
          icon: 'mdi-login',
          title: 'Login',
          to: '/login',
          auth: false,
          guestOnly:true
        },
        {
          icon: 'mdi-account-plus',
          title: 'Register',
          to: '/register',
          auth: false,
          guestOnly:true
        },
        {
          icon: 'mdi-account',
          title: 'Konto',
          to: '/me/',
          auth: true,
          guestOnly:false

        }
      ],
    }
  },
  methods: {
    /*
       Filter list based on whether me is authenticated
    */
    authFilterItems(list) {
      if (this.isAuthenticated) {
        return list.filter(it => it.guestOnly === false)
      } else {
        return list.filter(it => it.auth === false)

      }
    },
    logout(){
      this.$auth.logout()
      this.$router.push('/login')
    }
  },
  computed: {
    /*
       getters map from vuex store. It's what we use to know that the me is signed in and get the me.
     */
    ...mapGetters([
      'loggedInUser',
      'isAuthenticated',

    ]),
    getTheme: function (){
      return this.$vuetify.theme.dark = this.dark
    },
  },
  mounted() {
    const darkMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');

    this.dark = darkMediaQuery.matches;
  }
}
</script>
