<template>
  <v-app style="background: url('/login_bg.png')">
    <v-main>
      <nuxt/>
    </v-main>
  </v-app>
</template>


<script>
export default {
  name: "emptyLayout"
}
</script>

<style scoped>
.stars {

}


</style>
