<template>
  <v-app>
    <v-app-bar
      fixed
      style="background: linear-gradient(90deg, rgba(77,109,184,1) 0%, rgba(241,142,148,1) 100%);"
      app
      :dark="getTheme"
    >
      <v-toolbar-title>BookMe</v-toolbar-title>
      <v-spacer/>
      <v-menu offset-y>
        <template v-slot:activator="{ on, on2 }">
          <v-avatar v-on="on"
          >
            <v-icon>mdi-account</v-icon>
          </v-avatar>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in authFilterItems(this.menuItems)"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"/>
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-if="isAuthenticated" @click="logout()">
            <v-list-item-action>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Log ud</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-container>
      <v-main>
        <nuxt></nuxt>
      </v-main>
    </v-container>
  </v-app>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "eventStaffLayout",
  middleware:'auth',
  data() {
    return {
      menuItems: [
        {
          icon: 'mdi-login',
          title: 'Login',
          to: '/login',
          auth: false,
          guestOnly: true
        },
        {
          icon: 'mdi-account-plus',
          title: 'Register',
          to: '/register',
          auth: false,
          guestOnly: true
        },
        {
          icon: 'mdi-account',
          title: 'Konto',
          to: '/me/',
          auth: true,
          guestOnly: false

        }
      ],
    }
  },
  methods: {

    /*
   Filter list based on whether me is authenticated
*/
    authFilterItems(list) {
      if (this.isAuthenticated) {
        return list.filter(it => it.guestOnly === false)
      } else {
        return list.filter(it => it.auth === false)

      }

    },
    logout(){
      this.$auth.logout()
      this.$router.push('/login')
    }
  },
  beforeCreate() {
    function mobileCheck() {
      if (typeof window !== "undefined") {
        let check = false;
        (function (a) {
          if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true;
        })(navigator.userAgent || navigator.vendor || window.opera);
        return check;
      } else {
        return false
      }
    }
    if (this.$vuetify.breakpoint.mobile && mobileCheck() && typeof screen.orientation !== 'undefined')
    {

    }else{
      this.$router.push('/')
    }
  },
  mounted() {
    const darkMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');

    this.dark = darkMediaQuery.matches;
  },
  computed: {
    /*
       getters map from vuex store. It's what we use to know that the me is signed in and get the me.
     */
    ...mapGetters([
      'loggedInUser',
      'isAuthenticated',
    ]),
    getTheme: function (){
       return this.$vuetify.theme.dark = this.dark
    }
  },
}
</script>

<style scoped>


</style>
