<template>
  <div>
    <v-carousel
      :show-arrows="false"
      class="homePageFeaturedEvents"
      hide-delimiters
      cycle
      >
      <v-carousel-item v-for="(item, i) in featuredEvents" :src="'/api/'+item.image_path" :key="i">
        <v-row align="center" justify="center" style="height: inherit">
          <v-col cols="12" md="6" sm="8">
            <div style="margin-left: 10rem; margin-top: 5rem">
              <v-card-title style="color: white; font-size: 2.5rem;">
                {{ item.title }}
              </v-card-title>
              <v-card-subtitle style="color: #d9d8d8; font-size: 1.2rem; margin-top: 0.5rem">

              </v-card-subtitle>
              <v-card-actions style="margin-top: 5rem">
                <v-btn @click="$router.push('/event/'+item.id)" color="#4D6DB8" style="color:white;">Køb billet nu
                </v-btn>
              </v-card-actions>
            </div>
          </v-col>
          <v-col cols="12" md="6" sm="8"></v-col>
        </v-row>
      </v-carousel-item>
    </v-carousel>
    <div style="margin-left: 5rem; margin-right: 5rem">
      <v-card flat>
        <v-card-title>
          Populær arrangementer
        </v-card-title>
        <v-divider></v-divider>
      </v-card>
      <v-row style="margin-top: 0.5rem;">
        <v-col v-for="(event,i) in this.popularEvents" md="4" sm="2" :key="i" >
          <book-me-event :event-card-data="event"></book-me-event>
        </v-col>
      </v-row>
      <v-card flat>
        <v-card-title>
          Nye arrangementer
        </v-card-title>
        <v-divider></v-divider>
      </v-card>
      <v-row style="margin-top: 0.5rem;">
        <v-col v-for="(event,i) in this.newEvents"  md="4" sm="2" :key="i" style="display: inline-block">
          <book-me-event :event-card-data="event"></book-me-event>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import EventCard from "../components/EventCard";

export default {
  components: {
    'BookMeEvent': EventCard
  },
  data() {
    return {
      featuredEvents: [],
      popularEvents: [],
      newEvents: [],
    }
  },
  methods: {
    async getNewestEvents(){
      try {
        const res = await this.$axios.get('/events')
        if(res.status === 200){
          this.newEvents = res.data.events
          this.newEvents.sort( (a,b)  => a.date < b.date ? -1 : (a.date > b.date ? 1 : 0))
          if(this.newEvents.length > 10){
            this.newEvents.length = 10
          }
        }else{
          this.newEvents = []
        }
      }catch (e) {
        console.log(e.message)

      }

    },
  async getFeaturedEvents(){
      try {
        const res = await this.$axios.get('/events')
        if(res.status === 200){
          this.featuredEvents = res.data.events
          this.featuredEvents.sort(() => Math.random() - 0.5);
          if(this.featuredEvents.length > 3){
            this.featuredEvents.length = 3
          }
        }else{
          this.featuredEvents = []
        }
      }catch (e) {
        console.log(e.message)

      }

    },
    async getPopularEvents(){
      try {
        const res = await this.$axios.get('/events')
        if(res.status === 200){
          this.popularEvents = res.data.events
          if(this.popularEvents.length > 3){
            this.popularEvents.length = 3
          }
        }else{
          this.popularEvents = []
        }
      }catch (e) {
        console.log(e.message)

      }

    },
  },
  mounted() {
    this.getNewestEvents()
    this.getFeaturedEvents()
    this.getPopularEvents()
  }
}
</script>
