<template>
  <div style="margin-top: 1rem">
    <v-row justify="center" align="center">
      <v-col v-if="this.$vuetify.breakpoint.mdAndUp"></v-col>
      <v-col>
        <v-card flat style="background: transparent">
          <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            sodipodi:docname="bookme_logo.svg"
            inkscape:version="1.0 (4035a4fb49, 2020-05-01)"
            id="svg988"
            version="1.1"
            viewBox="0 0 85 55"
            height="55mm"
            width="85mm">
            <defs
              id="defs982"/>
            <sodipodi:namedview
              inkscape:window-maximized="1"
              inkscape:window-y="-8"
              inkscape:window-x="-8"
              inkscape:window-height="1017"
              inkscape:window-width="1920"
              units="mm"
              showgrid="false"
              inkscape:document-rotation="0"
              inkscape:current-layer="text1553"
              inkscape:document-units="mm"
              inkscape:cy="179.61346"
              inkscape:cx="246.44014"
              inkscape:zoom="1.4"
              inkscape:pageshadow="2"
              inkscape:pageopacity="0.0"
              borderopacity="1.0"
              bordercolor="#666666"
              pagecolor="#ffffff"
              id="base"/>
            <metadata
              id="metadata985">
              <rdf:RDF>
                <cc:Work
                  rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                  <dc:title></dc:title>
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              id="layer1"
              inkscape:groupmode="layer"
              inkscape:label="Layer 1">
              <g
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:20.5163px;line-height:1.25;font-family:Arial;-inkscape-font-specification:Arial;stroke-width:0.961698"
                id="text1553"
                transform="scale(1.0348975,0.96627927)"
                aria-label="BookMe">
                <path
                  sodipodi:nodetypes="sscsccsccssccscscsssaasccsccsaaaaassscscsccssssss"
                  id="path1555"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial;-inkscape-font-specification:Arial;stroke-width:0.961698;fill:#cd7c7c;fill-opacity:1"
                  d="m 4.4102255,34.916591 c -0.3181266,-0.340718 -0.3123226,-0.645602 -0.3123226,-1.12745 0,-4.03429 -0.1620246,-12.035387 -0.1620246,-12.035387 0,0 0.1152089,-0.543134 0.3655596,-0.811262 0.2307448,-0.24713 0.775432,-0.393792 0.775432,-0.393792 h 1.4206585 3.1101231 c 1.1219845,0 2.0202405,0.150266 2.6947675,0.450797 0.681205,0.293853 1.212145,0.751329 1.592819,1.372428 0.387352,0.614421 0.581028,1.258894 0.581028,1.933421 0,0.627777 -0.170301,1.218823 -0.510904,1.773138 -0.340603,0.554314 -0.854846,1.001772 -1.54273,1.342375 0.888238,0.260461 1.569443,0.70458 2.043616,1.332357 0.480851,0.627777 0.721276,1.369089 0.721276,2.223935 0,0.687884 -0.146927,1.329018 -0.44078,1.923403 -0.287175,0.587707 -0.644473,1.041844 -1.071896,1.362411 -0.427423,0.320567 -0.965041,0.564331 -1.612854,0.731294 -0.641135,0.160283 -1.429196,0.240425 -2.364183,0.240425 H 5.3653983 c -0.4224985,0 -0.6564212,0.0019 -0.9551728,-0.318093 z m 1.7405824,-8.311977 c 0.1513916,0.145274 0.3974607,0.09766 0.5999107,0.117181 0.8187694,0.07895 2.4662416,-0.0022 2.4662416,-0.0022 0.8615248,0 1.4792838,-0.05677 1.8532788,-0.170301 0.494208,-0.146927 0.864864,-0.390691 1.111968,-0.731294 0.253782,-0.340603 0.380673,-0.768026 0.380673,-1.282269 0,-0.487529 -0.116873,-0.914952 -0.35062,-1.282269 -0.233747,-0.373995 -0.567671,-0.627777 -1.001773,-0.761347 -0.434101,-0.140248 -1.178752,-0.210372 -2.2339522,-0.210372 0,0 -1.6390228,-0.156439 -2.4561092,-0.0932 -0.1618858,0.01253 -0.3648129,-0.03025 -0.4790841,0.0932 -0.1117058,0.120679 -0.068521,0.332952 -0.081012,0.502356 -0.080487,1.091532 -0.1133893,2.202144 0.041122,3.284498 0.026311,0.184309 0.019698,0.411574 0.1493567,0.535994 z m -0.045816,6.799864 c 0.1030396,0.110357 0.22779,0.09714 0.3735099,0.09714 H 9.697811 c 0.627777,0 1.068557,-0.02337 1.32234,-0.07012 0.447458,-0.08014 0.821453,-0.213712 1.121985,-0.400709 0.300531,-0.186998 0.547635,-0.457477 0.741311,-0.811436 0.193676,-0.360638 0.290514,-0.774704 0.290514,-1.242198 0,-0.547635 -0.140248,-1.021808 -0.420744,-1.422517 -0.280496,-0.407387 -0.671187,-0.691223 -1.172074,-0.851507 -0.494207,-0.166962 -1.208805,-0.250443 -2.1437929,-0.250443 0,0 -2.0175586,0 -3.026338,0 -0.1232235,0 -0.2146412,-0.01482 -0.3017734,0.0785 -0.082912,0.0888 -0.067897,0.172669 -0.067897,0.298251 0,1.380136 0,4.140407 0,4.140407 0,0.177258 -0.05338,0.309295 0.06365,0.434636 z"/>
                <path
                  id="path1557"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial;-inkscape-font-specification:Arial;stroke-width:0.961698;fill:#cd7c7c;fill-opacity:1"
                  d="m 16.980697,29.915272 q 0,-2.955229 1.642907,-4.377746 1.372428,-1.182091 3.34592,-1.182091 2.193882,0 3.586345,1.442552 1.392464,1.432535 1.392464,3.967019 0,2.053634 -0.621099,3.235725 -0.611081,1.172074 -1.793173,1.823226 -1.172073,0.651152 -2.564537,0.651152 -2.233953,0 -3.616399,-1.432534 -1.372428,-1.432535 -1.372428,-4.127303 z m 1.853279,0 q 0,2.043616 0.891577,3.065424 0.891578,1.01179 2.243971,1.01179 1.342375,0 2.233952,-1.021808 0.891578,-1.021808 0.891578,-3.115512 0,-1.973492 -0.901595,-2.985282 -0.891578,-1.021808 -2.223935,-1.021808 -1.352393,0 -2.243971,1.01179 -0.891577,1.01179 -0.891577,3.055406 z"/>
                <path
                  id="path1559"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial;-inkscape-font-specification:Arial;stroke-width:0.961698;fill:#cd7c7c;fill-opacity:1"
                  d="m 28.400904,29.915272 q 0,-2.955229 1.642907,-4.377746 1.372428,-1.182091 3.34592,-1.182091 2.193882,0 3.586345,1.442552 1.392464,1.432535 1.392464,3.967019 0,2.053634 -0.621099,3.235725 -0.611081,1.172074 -1.793173,1.823226 -1.172073,0.651152 -2.564537,0.651152 -2.233953,0 -3.616399,-1.432534 -1.372428,-1.432535 -1.372428,-4.127303 z m 1.853279,0 q 0,2.043616 0.891578,3.065424 0.891577,1.01179 2.24397,1.01179 1.342375,0 2.233952,-1.021808 0.891578,-1.021808 0.891578,-3.115512 0,-1.973492 -0.901595,-2.985282 -0.891578,-1.021808 -2.223935,-1.021808 -1.352393,0 -2.24397,1.01179 -0.891578,1.01179 -0.891578,3.055406 z"/>
                <path
                  sodipodi:nodetypes="cccsssccssssscssccc"
                  id="path1561"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial;-inkscape-font-specification:Arial;stroke-width:0.961698;fill:#cd7c7c;fill-opacity:1"
                  d="M 40.502313,35.234684 V 20.5487 h 1.803191 l -0.0424,8.098894 c -4.75e-4,0.09067 -0.02632,0.222966 0.0424,0.275923 0.05007,0.03858 0.133804,-0.0747 0.180953,-0.123207 l 4.086598,-4.20445 h 2.334129 l -4.87918,4.802784 c -0.06121,0.06025 -0.119208,0.08501 -0.120914,0.174035 -0.0017,0.09114 0.05778,0.135495 0.118024,0.19988 0,0 4.246412,4.64363 6.699722,7.159837 0.535405,0.549132 -1.73065,0.592661 -2.223935,0 -1.488024,-1.7878 -5.483957,-6.354034 -5.483957,-6.354034 -0.02305,-0.04299 -0.05013,-0.08165 -0.10181,-0.08465 -0.05137,-0.003 -0.08734,0.03715 -0.126163,0.0733 l -0.483468,0.45021 v 4.217462 z"/>
                <path
                  sodipodi:nodetypes="csssccsssccsssccssssssssscsscc"
                  id="path1563"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial;-inkscape-font-specification:Arial;stroke-width:0.961698;fill:#7ca0cd;fill-opacity:1"
                  d="M 50.920749,35.234684 V 21.067151 c 0,-0.172817 -0.0049,-0.305632 0.109202,-0.427832 0.102374,-0.109643 0.180353,-0.09062 0.325131,-0.09062 h 2.490843 l 3.47615,10.398398 c 0.197993,0.598104 0.288786,1.116165 0.42054,1.52829 0.08157,0.25514 0.124401,0.781444 0.304566,0.767568 0.189371,-0.01459 0.20605,-0.516792 0.290667,-0.774866 0.149835,-0.456981 0.24064,-1.039752 0.46685,-1.701311 L 62.32092,20.5487 h 2.023382 c 0.197082,0 0.363922,-0.05331 0.50328,0.09594 0.111131,0.119024 0.08796,0.240707 0.08796,0.409032 v 14.181011 h -1.873315 c 0,0 0.06298,-7.648126 0.06298,-11.484107 0,-0.261269 0.03013,-0.44649 -0.100723,-0.500411 -0.115964,-0.04778 -0.166052,0.168954 -0.250779,0.412991 -1.146718,3.302872 -3.25114,9.445615 -3.828881,11.13293 -0.09627,0.281148 -0.04771,0.276122 -0.166911,0.365286 -0.06336,0.0474 -0.137816,0.07331 -0.215106,0.07331 -0.390108,0 -0.780217,0 -1.170325,0 -0.116968,0 -0.207596,0.01151 -0.302996,-0.06097 -0.09794,-0.07441 -0.127267,-0.181797 -0.166947,-0.303183 C 55.680123,31.069817 53.195293,23.4684 53.195293,23.4684 c 0,0 -0.103523,-0.679668 -0.351927,-0.632589 -0.218893,0.04149 -0.184909,0.463827 -0.184909,0.667334 0,3.963866 0.135607,11.731539 0.135607,11.731539 z"/>
                <path
                  sodipodi:nodetypes="ccsscsssssccsssscssssscscsss"
                  id="path1565"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial;-inkscape-font-specification:Arial;stroke-width:0.961698;stroke:none;stroke-opacity:1;fill-opacity:1;fill:#7ca0cd"
                  d="m 75.143605,31.808622 1.863297,0.230408 c -0.293853,1.088593 -0.83815,1.933421 -1.632889,2.534484 -0.79474,0.601063 -1.80987,0.901595 -3.045389,0.901595 -1.556087,0 -2.791606,-0.477511 -3.706558,-1.432534 -0.908273,-0.961702 -1.36241,-2.307416 -1.36241,-4.037143 0,-1.789834 0.460815,-3.178959 1.382446,-4.167374 0.921631,-0.988415 2.117079,-1.482623 3.586345,-1.482623 1.422517,0 2.584573,0.48419 3.486168,1.45257 0.901595,0.96838 1.352393,2.330791 1.352393,4.087232 0,0.106855 -0.0033,0.267139 -0.01002,0.480851 H 69.12295 c 0.06678,1.168734 0.39737,2.063651 0.991755,2.68475 0.594385,0.621099 1.335697,0.931648 2.223935,0.931648 0.66117,0 1.225502,-0.173641 1.692996,-0.520922 0.467493,-0.347281 0.838149,-0.901595 1.111967,-1.662942 z m -5.864951,-2.919235 c 0,0 0.141009,0.01936 0.239464,0.02223 1.486828,0.04331 4.150105,0.0068 5.20132,-0.01038 0.278795,-0.0046 0.432407,0.01372 0.41889,-0.137213 -0.01408,-0.157209 -0.0074,-0.178101 -0.03053,-0.321502 -0.108616,-0.672911 -0.317072,-1.193793 -0.625368,-1.562647 -0.574349,-0.694563 -1.319,-1.041844 -2.233952,-1.041844 -0.828132,0 -1.526034,0.277157 -2.093705,0.831471 -0.500238,0.494284 -0.793712,1.085316 -0.895678,1.876975 -0.01238,0.09615 -0.07438,0.337103 0.01955,0.342883 z"/>
              </g>
            </g>
          </svg>
        </v-card>
        <v-card style="margin-bottom: 1rem">
          <v-card-title>
            Grunde til at have en konto
          </v-card-title>
          <v-card-text>
            <v-list v-for="(el,i) in ReasonstoMakeAccount" :key="i">
              <v-list-item >
                <v-list-item-avatar>
                  {{i+1}}
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{el.title}}</v-list-item-title>
                  <v-list-item-subtitle>{{el.description}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
        <v-card>
          <v-card-title>
            Register
          </v-card-title>
          <v-card-text>
            <v-form ref="registerForm" v-model="formValid">
              <v-text-field v-model="firstname" type="text" label="Fornavn" :rules="nameRules">
              </v-text-field>
              <v-text-field v-model="lastname" type="text" label="Efternavn" :rules="nameRules">
              </v-text-field>
              <v-text-field v-model="email" type="email" label="E-mail" :rules="emailRules">
              </v-text-field>
              <v-text-field v-model="password" type="password" label="Password" :rules="passwordRules">

              </v-text-field>
              <v-text-field v-model="phoneNumber" type="tel" label="Telefon nummer" :rules="phoneNumberRules">

              </v-text-field>
            </v-form>
            <v-card-actions>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="$router.push('/login')" icon v-on="on">
                    <v-icon>mdi-chevron-left</v-icon>
                  </v-btn>
                </template>
                <span>Gå til login</span>
              </v-tooltip>
              <v-spacer>

              </v-spacer>
              <v-btn @click="Register()" :disabled="!formValid" color="#6472B9" style="color: #ffffff">
                Register
              </v-btn>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col v-if="this.$vuetify.breakpoint.mdAndUp"></v-col>
    </v-row>
  </div>

</template>

<script>
import {mapMutations} from "vuex";

export default {
  name: "login",
  layout: "emptyLayout",
  middleware: 'guest',
  data() {
    return {
      formValid: false,
      nameRules:[
        v=> !!v || 'Navn kan ikke være tom',
        v=> /^[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF ]*$/gi.test(v) || 'Kun bogstaver'
      ],
      emailRules: [
        v => !!v || 'Email kan ikke være tom',
        v => /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/gi.test(v)
          || 'Email skal være gyldig'

      ],
      passwordRules: [
        v => !!v || 'Adgangskode kan ikke være tom',
      ],
      phoneNumberRules:[
        v=> !!v || 'Telefon nummer kan ikke være tom',
        v=> /\+[0-9][0-9]*$/gi.test(v) || 'Kun nummer og plus'
      ],
      ReasonstoMakeAccount:[
        {
          title:"Behold dine billetter",
          description:"Alle dine billeter gemmes på din konto og du kan nemt tilgå dem!"
        },{
          title:"Nem refundering",
          description:"Glem ventelse på support mail og telefon. Renfuderer hurtigt gennem systemet"
        },
      ],
      firstname:'',
      lastname:'',
      email:'',
      password:'',
      phoneNumber:'',
    }
  },
  methods: {
   async Register() {
       self = this
        if(this.formValid){
          try{
            const res = await this.$axios.post('/account/register', {
              firstname:this.firstname,
              lastname:this.lastname,
              email:this.email,
              password:this.password
            })
            console.log(res)
            if(res.status === 200){
              self.setSnackColor("success");
              this.formValid = false;
              this.$refs.registerForm.reset()
              self.setSnack("Du har registeret dig uden problemer!");
            }
          }catch (e){
            self.setSnackColor("error");
            self.setSnack(e.message);
          }
        }
    },
    ...mapMutations({
      setSnack: 'snackbar/setSnack',
      setSnackTop: 'snackbar/setSnackTop',
      setSnackColor: 'snackbar/setSnackColor'
    }),

  }
}
</script>

<style scoped>

</style>
