<template>
  <div>
    <v-row>
      <v-col/>

      <v-col >
        <v-card>
          <v-card-title>
            Ændre/Opret ny billet
          </v-card-title>
          <v-card-text>
            <div>
              <v-card flat class="ticket">
                <v-row>
                  <v-col>
                    <v-img @mouseenter="editIcon = true" @mouseleave="editIcon = false" :src="filePreviewURL !== '' ? filePreviewURL : '/ticket logo placeholder.png'" style="margin-left:1rem; width: 10rem; height: auto">
                      <div
                        style="margin: 4rem"
                        v-show="editIcon"
                      >
                        <v-btn  @click="openFileChooser"  icon>
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <input
                          @change="onFileChange($event)"
                          accept=".png,.gif,.jpg,.jfif"
                          type="file"
                          ref="fileInput"
                          style="display: none"/>
                      </div>
                    </v-img>
                  </v-col>
                  <v-col>

                  </v-col>
                  <v-col>
                    <v-card-text>
                      <v-spacer></v-spacer>
                      <v-form v-model="formValid">
                        <v-text-field type="text" v-model="ticketName" min="0" :rules="nameRules" label="Navn"></v-text-field>
                        <v-textarea type="text" v-model="ticketDesc" min="0" :rules="descRules" label="Beskrivelse"></v-textarea>
                        <v-text-field type="number" v-model="ticketPrice" min="1" :rules="priceRules" label="Pris"></v-text-field>
                        <v-text-field type="number" v-model="ticketAvailable" min="1" :rules="countRules" label="Antal"></v-text-field>
                      </v-form>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-card>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="$router.back()" icon v-on="on">
                  <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
              </template>
            </v-tooltip>
            <v-spacer>

            </v-spacer>

            <v-btn @click="SaveOrCreate()" :disabled="!formValid" color="#6472B9" style="color: #ffffff">
              Gem
            </v-btn>
            <v-btn @click="showPDFPreview()" :disabled="!formValid" color="#6472B9" style="color: #ffffff">
              PDF forhåndsvisning
            </v-btn>
          </v-card-actions>
        </v-card>
        <v-spacer></v-spacer>
      </v-col>
      <v-col/>
    </v-row>
  </div>
</template>

<script>

export default {
  name: "create",
  layout: "authLayout",
  data() {
    return {
      filePreviewURL:'',
      chosenFile : {},
      editIcon: false,
      formValid: false,
      ticketTypes: [
      ],
      nameRules: [
        v => !!v || 'Navn kan ikke være tom',
        v=> /^[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF ]*$/gi.test(v) || 'Kun bogstaver'

      ],
      descRules: [
        v => !!v || 'Beskrivelse kan ikke være tom',
      ],
      priceRules: [
        v => !!v || 'Pris kan ikke være tom',
        v =>  /[0-9][0-9]*$/gi.test(v) || 'Kun numre'

      ],
      countRules: [
        v => !!v || 'Antal kan ikke være tom',
        v =>  /[0-9][0-9]*$/gi.test(v) || 'Kun numre'

      ],
      ticketName:'',
      ticketDesc:'',
      ticketPrice:0,
      ticketAvailable:0,
      chosenTicketType:{

      }
    }
  },
  methods: {
    async SaveOrCreate() {
      const res = await this.$axios.$post('/ticket/type/create',{
        event_id: this.$route.params.eventid,
        name: this.ticketName,
        desc: this.ticketDesc,
        price: this.ticketPrice,
        available: this.ticketAvailable
      },)

    },
    showPDFPreview(){


    },
    openFileChooser(){
      this.$refs.fileInput.click();
    },
    onFileChange(e){
      this.chosenFile = e.target.files[0]
      this.filePreviewURL = URL.createObjectURL(e.target.files[0])
    }
  }
}
</script>

<style scoped>

</style>
